.mobileNav {
  visibility: hidden;
}

@media only screen and (max-width: 600px) {
  .mobileNav {
    visibility: visible;
    height: 70px;
    width: 100%;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 20px;
  }

  .mobileNav button {
    margin-right: 10px;
    float: right;
  }

  .navList {
    visibility: visible;
    height: 150px;
    width: 100%;
    position: fixed;
    z-index: 2;
    top: 70px;
    left: 0;
    overflow-x: hidden;
    padding-top: 20px;
  }

  .navItems {
    list-style-type: none;
  }
}
