.sideBar {
  height: 100%;
  width: 60px;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

.iconCon {
  margin-top: 200px;
}

.sideBar a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 23px;
  display: block;
  line-height: 0.5;
  margin-top: 50px;
}

.socials {
  margin-top: 100px;
}

.socials a {
  margin-bottom: -40px;
}

@media only screen and (max-width: 600px) {
  .sideBar {
    visibility: hidden;
  }
}
