.infoCon {
  font-size: 45px;
  line-height: 0.5;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -100px;
  width: 100vw;
  height: 100vh;
}

.aboutCon {
  margin-top: 500px;
  margin-bottom: 400px;
}

.infoTextCol {
  margin-right: 3400px;
  margin-top: 340px;
}

.sendBtn{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 50vh;
  margin-top: 70vh;
  height: 50px;
  width: 200px;
}

@media only screen and (max-width: 600px) {
  .infoCon {
    overflow-x: hidden;
    height: 110vh;
  }

  .sendBtn{
    margin: 0;
    margin-left: 10vh;
    margin-top: 90vh
  }

  .infoTextCol {
    margin-right: 3800px;
    margin-top: 200px;
  }
}
