.cog {
  animation-name: rotate;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: normal;
}

.infoCon {
  font-size: 45px;
  line-height: 1;
}

.aboutCon {
  margin-top: 500px;
  margin-bottom: 400px;
}

.infoTextCol {
  margin-left: -1900px;
  margin-top: 340px;
}

.arrow {
  box-sizing: border-box;
  height: 5vw;
  width: 5vw;
  border-style: solid;
  border-color: white;
  border-width: 0px 1px 1px 0px;
  transform: rotate(45deg);
  transition: border-width 150ms ease-in-out;
  margin-top: 240px;
}

.arrow:hover {
  border-bottom-width: 4px;
  border-right-width: 4px;
}

@media only screen and (max-width: 600px) {
  .arrow {
    margin-top: 50px;
  }

  .infoCon {
    overflow-x: hidden;
  }
}
