// Custom.scss

$theme-colors: (
  "dark": #003249,
  "primary": #007ea7,
  "secondary": #80ced7,
  "danger": #9ad1d4,
  "success": #ccdbdc,
);

@import "../node_modules/bootstrap/scss/bootstrap";

body {
  background-color: #f5f5f6;
}

html{
  scroll-behavior: smooth;
  overflow-x: hidden;
}